:root {
  /* shadow - text */
  --shadow: #0e3747;
  /* midtone - baccground */
  --midtone: #07252d;
  /* highlight- text */
  --highliht: white;
  /* Accent- Button and lin */
  --accent: #03bcf4;
}

* {
  font-family: "Roboto";
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
